@import 'content/content';
@import 'navbar/navbar';
@import 'planeditor/planeditor';
@import 'planviewer.scss';
@import 'footer.scss';

.fa.spinning {
    animation: spin 1s infinite linear;
}

.fa.heartbeat {
    animation: heartbeat 1s infinite ease;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@keyframes heartbeat
{
  0%
  {
    transform: scale( .75 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( .75 );
  }
}