.editRow {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.editRow .rowLabel {
    min-width: 5em;
}

.editCell {
    flex: 1 1;
}

.editCell input {
    transition: 0.5s background-color;
    max-width: 3em;
    border: none;
}

.editCell.hasValue input {
    background-color: #cccccc;
}

.editCell.loading input {
    background-color: #f8ac59;
}

.editCell.loaded input {
    background-color: #1ab394;
}

.matrixLabels {
    margin-bottom: 1em;
}

.matrixLabels, .rowLabel {
    font-weight: 800;
}

.pagination-wrapper {
    width: 100%;
    margin-top: 1em;
    display: flex;
}

.pagination-wrapper .pagination {
    flex-align: center;
    margin: 0 auto;
}

.search-information {
    margin: 5px 2px 10px 2px;
}

.list-editor .list-group-item {
    cursor: pointer;
    display: block;
    position: relative;
}

.list-editor .list-group-item:hover {
    color: #fff;
    background-color: #2C3E50;
    border-color: #2C3E50;
}

.list-editor-row {
    height: 0;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.list-editor-row.list-editor-row-open {
    height: auto;
}

.list-editor-row .editCell {
    flex: 1 1;
}

.list-editor-item-open, .list-editor .list-editor-item-open.list-group-item:hover {
    background-color: #ecf0f1;
    color: #212529;
}

.list-editor-item-row-header {
    margin-bottom: 5px;
}
